<div class="col-md-6" style="float:right">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Вход</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="submit()" novalidate="novalidate">

            <fieldset class="form-group">
                <label for="regInputEmail">Email address</label>
                <input type="email" class="form-control" id="regInputEmail" placeholder="Enter email" ng-model="form.email" />
                <br>
                <small class="text-muted">We'll never share your email with anyone else.</small>
            </fieldset>

            <fieldset class="form-group">
                <label for="regInputPass">Password</label>
                <input type="password" class="form-control" id="regInputPass" placeholder="Enter password" ng-model="form.password" />
                <br>
                <small class="text-muted">Never share your password with anyone.</small>
            </fieldset>

            <button type="submit" class="btn btn-primary">Login</button> <a href="#/users/register" class="btn">Регистрация</a>

        </form>
    </div>
</div>
</div>